body {
  padding-top: 75px;
  background: white;
  color: #222222; }

a.the_link {
  text-decoration: underline;
  color: #fc6838; }

h3 {
  font-size: 1.3em; }

.link-details-link a {
  color: #2ea9d9; }

nav.navbar {
  background-color: white;
  border-bottom: none;
  outline: rgba(0, 0, 0, 0.2) solid 2px; }
  nav.navbar a {
    color: black; }
  nav.navbar .container {
    padding-top: 1em; }

.brandname {
  font-size: 1.3em; }

ul#published-links,
ul#published-links li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul#published-links li {
  margin-bottom: 1.8em; }
  ul#published-links li .votes {
    float: right;
    margin-left: 1em; }
    ul#published-links li .votes img {
      border: 2px solid rgba(0, 0, 0, 0.2); }

a.the_link {
  font-size: 1.5em; }

#link-detail-page p.reason {
  font-size: 1.1em;
  max-width: 40em; }

.link-domain {
  color: #222222;
  font-weight: bold; }

footer {
  margin-top: 6em;
  padding-top: 2em;
  font-size: 0.9em;
  border-top: 1px dashed rgba(0, 0, 0, 0.2); }
  footer a {
    color: #2ea9d9; }

#comments {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin-top: 2em;
  padding-top: 2em;
  max-width: 40em; }

.bios a {
  color: #fc6838; }

.profile-bio {
  max-width: 40em; }

@media screen and (max-width: 767px) {
  ul#published-links li .votes {
    float: none;
    display: none; } }
.clearfix:after {
  content: "";
  display: table;
  clear: both; }
